@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway');

.TodayWeights{
    margin-bottom:15vh;
}

.TodayWeights h3{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin-bottom: 18px;
    margin-left: 10%;
    margin-top: 15px;
    font-weight: 600;
}

.TodayWeights h4{
    font-family: 'Raleway', sans-serif;
    margin-left: 5em;
    margin-bottom: 1em;
    font-size: 1.3em;
    
    
}

.TodayWeights button{
   background-color: #F2f1de;
   border: none;
   color:#f2f1de;
   outline: none;

}

.TodayWeights{
    background-color: #F2f1de;
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
    border-radius: 6px;

}

.WeightsList{
    background-color: #F2f1de;
    padding-top: .1px;
    padding-left: .1px;
    
}

.WeightsList h2{
    font-family: 'Dancing Script', cursive;
    font-size: 1.6em;
    margin-left: 38%;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 18px;


}

.WeightsList{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}

.WeightsList h4{
    margin-left: 10px;
    margin-bottom: 1em;
    margin-right: 16px;
}

.WeightsList button{
    border-radius: 16px;
    margin-left: 15px;
    background-color: #5bb25f;
    font-family: 'Raleway', sans-serif;
    margin-right: 1em;
    color: white;
    font-size: 1em;
}
.WeightsList input{
    margin-top: 1em;
    border-radius: 6px;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: .8em;
    font-family: 'Raleway', sans-serif;
}